services:
  norish:
    image: norishapp/norish:latest@sha256:c61f4bafe1b8d0613d4a57b116a9db8067f41b50ba59a5dd42096eb8b1f525dc
    container_name: norish-app
    restart: always
    networks:
      - default
      - proxy_default
    ports:
      - 3011:3000
    volumes:
      - /mnt/cache/appdata/norish/uploads:/app/uploads
    environment:
      # ------------------------------
      # Core
      # ------------------------------
      AUTH_URL: https://norish.app
      RECIPES_DISK_DIR: /app/uploads/
      CHROME_WS_ENDPOINT: ws://chrome-headless:3000
      MASTER_KEY: $norish_auth_secret
      
      # ------------------------------
      # Database
      # ------------------------------
      DATABASE_URL: postgres://postgres:norish@db:5432/norish

      # ------------------------------
      # OIDC - optional - One of three providers is required
      # ------------------------------
      OIDC_NAME: NoraID
      OIDC_ISSUER: https://auth.vanes.dev
      OIDC_CLIENT_ID: $norish_oidc_id
      OIDC_CLIENT_SECRET: $norish_oidc_secret

    depends_on:
      - db

  # ------------------------------
  # Database
  # ------------------------------
  db:
    image: postgres:17-alpine@sha256:ef257d85f76e48da1c64832459b59fcaba1a4dac97bf5d7450c77753542eee94
    container_name: norish-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: norish
      POSTGRES_DB: norish
    volumes:
      - /mnt/cache/appdata/norish/db:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  chrome-headless:
    image: ghcr.io/browserless/chrome:v2.38.2@sha256:3cb9989a655c6e69586207de0d77b9530345d21fdf987e5d0ada3a49757c538d
    container_name: chrome-headless
    restart: unless-stopped
    networks:
      - default
    environment:
      DEBUG: "browserless:*"
      MAX_CONCURRENT_SESSIONS: 5
      CONNECTION_TIMEOUT: 300000
      KEEP_ALIVE: "true"
    ports:
      - "3003:3000"   # WS endpoint exposed at ws://localhost:3000

networks:
  proxy_default:
    external: true
