services:
  plex:
    image: plexinc/pms-docker:1.42.1.10060-4e8b05daf@sha256:4e704a2172129d8a6bc5b05ea201945b329bb6512f48a4e92ed4a4a787c35462
    container_name: plex
    networks:
      - proxy_default
      - default
    ports:
      - "32400:32400/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /mnt/user/appdata/plexmediaserver:/config
      - /mnt/user/appdata/plexmediaserver/transcode:/transcode
      - /mnt/user/dmb:/mnt/debrid:rslave
    restart: unless-stopped
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true
    healthcheck:
      test: ["CMD", "curl", "--connect-timeout", "15", "--silent", "--show-error", "--fail", "http://localhost:32400/identity"]
      interval: 1m
      timeout: 15s
      retries: 3
      start_period: 1m
    labels:
      glance.name: Plex
      glance.icon: si:youtube
      glance.url: https://overseerr.vanes.dev
      glance.id: plex
      glance.hide: "false"

  jellyseerr:
    image: fallenbagel/jellyseerr:preview-OIDC@sha256:9f3195998306da6548fc3b2420d114dda64a6e904f41e911168788fb410a7972
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=ERROR
      - TZ=Europe/Amsterdam
    ports:
      - "5055:5055"
    networks:
      - proxy_default
      - default
    volumes:
      - /mnt/user/appdata/jellyseerr/config:/app/config
    restart: unless-stopped
    depends_on:
      plex:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Jellyseerr
      glance.hide: "false"

  tautulli:
    image: ghcr.io/tautulli/tautulli:v2.16.0@sha256:7e6ede32f7923e01899db906aa6a96d978a4a8df8e2ef0dcf44c92b2d0206221
    container_name: tautulli
    restart: unless-stopped
    networks:
      - default
    environment:
      - TZ=Europe/Amsterdam
      - PUID=1000
      - PGID=1000
    ports:
      - "8181:8181"
    volumes:
      - /mnt/user/appdata/tautulli:/config
    depends_on:
      plex:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Tautulli
      glance.hide: "false"

  # decypharr:
  #   image: cy01/blackhole:v1.1.6@sha256:b9207450e8bd0dbc0f83e145aa5c487f5e5824e916d1f10349dd3386e8b769c7
  #   container_name: decypharr
  #   entrypoint: ["/bin/sh", "-c", "apk add --no-cache fuse3 fuse && exec /usr/bin/decypharr --config /app"]
  #   user: "0:0"
  #   networks:
  #     - default
  #   devices:
  #     - /dev/fuse:/dev/fuse:rwm
  #   cap_add:
  #     - SYS_ADMIN
  #   security_opt:
  #     - apparmor:unconfined
  #   environment:
  #     - UMASK=002
  #     - PUID=99
  #     - PGID=100
  #     - TZ=Europe/Amsterdam
  #   ports:
  #     - "8282:8282"
  #   volumes:
  #     - /mnt/cache/dmb:/mnt/debrid:rshared
  #     - /mnt/cache/rclonecache:/cache
  #     - /mnt/user/appdata/decypharr:/app
  #   restart: unless-stopped
  #   labels:
  #     glance.parent: plex
  #     glance.name: Blackhole
  #     glance.hide: "false"

  decypharr:
    image: cy01/blackhole:latest
    container_name: decypharr
    ports:
      - "8282:8282"
    environment:
      - PUID=99
      - PGID=100
      - TZ=Europe/Paris
    volumes:
      - /mnt/user/dmb:/mnt/debrid:rshared     # <-- mount root of storage
      - /mnt/cache/rclonecache:/cache
      - /mnt/user/appdata/decypharr:/app
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    restart: unless-stopped

  # rclone:
  #   image: rclone/rclone:1.71.2
  #   container_name: rclone
  #   restart: unless-stopped
  #   networks:
  #     - default
  #   environment:
  #     - TZ=Europe/Amsterdam
  #   ports:
  #     - "5572:5572"
  #   volumes:
  #     - /mnt/user/dmb:/mnt/debrid:rshared
  #     - /mnt/user/appdata/rclone/rclone.conf:/config/rclone/rclone.conf
  #     - /mnt/user/rclonecache:/cache
  #   cap_add:
  #     - SYS_ADMIN
  #   security_opt:
  #     - apparmor:unconfined
  #   devices:
  #     - /dev/fuse:/dev/fuse:rwm
  #   depends_on:
  #     decypharr:
  #       condition: service_healthy
  #       restart: true
  #   command: >
  #     mount decypharr: /mnt/debrid/decypharr
  #     --config=/config/rclone/rclone.conf
  #     --uid=99 --gid=100
  #     --allow-other
  #     --vfs-cache-mode full
  #     --vfs-cache-max-age 12h
  #     --vfs-read-chunk-size 1M
  #     --vfs-read-chunk-size-limit 128M
  #     --vfs-read-ahead 4M
  #     --vfs-cache-max-size 300G
  #     --cache-dir=/cache
  #     --log-level ERROR
  #     --rc --rc-addr :5572 --rc-no-auth
  #   labels:
  #     glance.parent: plex
  #     glance.name: Rclone
  #     glance.hide: "false"

  prowlarr:
    image: ghcr.io/hotio/prowlarr:release-2.1.5.5216@sha256:c9461e88006cb720c4061bd8982c436d1e8b981dd1ccbec90f6f866aa7f187c1
    container_name: prowlarr
    networks:
      - default
    environment:
      - PUID=1000
      - PGID=1000
    ports:
      - "9696:9696"
    restart: unless-stopped
    volumes:
      - /mnt/user/appdata/prowlarr/Definitions/Custom:/Custom
      - /mnt/user/appdata/prowlarr:/config
    labels:
      glance.parent: plex
      glance.name: Prowlarr
      glance.hide: "false"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:v3.4.5@sha256:4f4e5f759aa3a9a64305e99188ea1db1ec2944a5e7d290d2b089af5f2f6f48e4
    container_name: flaresolverr
    networks:
      - default
    environment:
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
      - TZ=Europe/Amsterdam
    ports:
      - "8191:8191"
    restart: unless-stopped
    labels:
      glance.parent: plex
      glance.name: Flaresolverr
      glance.hide: "false"

  radarr:
    image: ghcr.io/hotio/radarr:release-5.28.0.10274@sha256:42ca21d9bab4df84af1898e7256256b85a04b207e72c620ac382ac4151d65dd0
    container_name: radarr
    networks:
      - default
    environment:
      - PUID=99
      - PGID=100
    ports:
      - "7878:7878"
    restart: unless-stopped
    volumes:
      - /mnt/user/dmb:/mnt/debrid:rslave
      - /mnt/user/appdata/radarr:/config
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Radarr
      glance.hide: "false"

  radarr-anime:
    image: ghcr.io/hotio/radarr:release-5.28.0.10274@sha256:42ca21d9bab4df84af1898e7256256b85a04b207e72c620ac382ac4151d65dd0
    container_name: radaranime
    networks:
      - default
    environment:
      - PUID=99
      - PGID=100
    ports:
      - "7979:7878"
    restart: unless-stopped
    volumes:
      - /mnt/user/dmb:/mnt/debrid:rslave
      - /mnt/user/appdata/radarranime:/config
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Radarr-anime
      glance.hide: "false"

  sonarr:
    image: ghcr.io/hotio/sonarr:release-4.0.16.2944@sha256:20cf6013b2b35c035f9ce7d5e8149eccf03c933c58ea40a9bd397e57a6dee714
    container_name: sonarr
    networks:
      - default
    environment:
      - PUID=99
      - PGID=100
    ports:
      - "8989:8989"
    restart: unless-stopped
    volumes:
      - /mnt/user/dmb:/mnt/debrid:rslave
      - /mnt/user/appdata/sonarr:/config
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Sonarr
      glance.hide: "false"

  sonarranime:
    image: ghcr.io/hotio/sonarr:release-4.0.16.2944@sha256:20cf6013b2b35c035f9ce7d5e8149eccf03c933c58ea40a9bd397e57a6dee714
    container_name: sonarranime
    networks:
      - default
    environment:
      - PUID=99
      - PGID=100
    ports:
      - "9090:8989"
    restart: unless-stopped
    volumes:
      - /mnt/user/dmb:/mnt/debrid:rslave
      - /mnt/user/appdata/sonarranime:/config
    depends_on:
      decypharr:
        condition: service_healthy
        restart: true
    labels:
      glance.parent: plex
      glance.name: Sonarr-anime
      glance.hide: "false"

networks:
  proxy_default:
    external: true
