services:
  radicale:
    image: tomsquest/docker-radicale:latest@sha256:b475497a9952a9c82a8fc2a737ff4fc07e6de4960033a475bfb565a9c95a42c7
    container_name: radicale
    ports:
      - 5232:5232
    networks:
      - proxy_default
    init: true
    read_only: true
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    cap_add:
      - SETUID
      - SETGID
      - CHOWN
      - KILL
    deploy:
      resources:
        limits:
          memory: 256M
          pids: 50
    healthcheck:
      test: curl -f http://127.0.0.1:5232 || exit 1
      interval: 30s
      retries: 3
    restart: unless-stopped
    volumes:
      - /mnt/user/appdata/radicale/data:/data
      - /mnt/user/appdata/radicale/config:/config

networks:
  proxy_default:
    external: true
