services:
  vikunja:
    image: vikunja/vikunja:1.0.0-rc2@sha256:3839751335af9e8f8f7105021ef2c7bd1c9cf6fcf01ec122cd6431f7ba24a756
    networks:
      - proxy_default
      - internal
    environment:
      VIKUNJA_SERVICE_PUBLICURL: https://vikunja.vanes.dev
      VIKUNJA_DATABASE_HOST: db
      VIKUNJA_DATABASE_PASSWORD: hQHPKY1kuDzDLdEqzVwmw1mqnMS9cPkr
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_SERVICE_JWTSECRET: $vikunja_jwt_secret
    ports:
      - 3456:3456
    volumes:
      - /mnt/user/appdata/vikunja:/app/vikunja/files
      - /mnt/user/appdata/vikunja/config.yml:/app/vikunja/config.yml:ro
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    labels:
      glance.name: Vikunja
      glance.url: https://vikunja.vanes.dev
      glance.description: 
      glance.icon: si:vikunja
      glance.id: vikunja
      glance.hide: false  
    
  db:
    image: postgres:18@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f
    networks:
      - internal
    environment:
      POSTGRES_PASSWORD: hQHPKY1kuDzDLdEqzVwmw1mqnMS9cPkr
      POSTGRES_USER: vikunja
    volumes:
      - /mnt/user/appdata/vikunja/db:/var/lib/postgresql/
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U $$POSTGRES_USER"]
      interval: 2s
      start_period: 30s
    labels:
      glance.parent: vikunja
      glance.name: postgres
      glance.hide: false

networks:
  internal:
    external: false
  proxy_default:
    external: true