services:
  pocket-id:
    image: ghcr.io/pocket-id/pocket-id:v1.15.0@sha256:92a5624ea14dc96e91ef236950d4d858e97119ce811075648ffd8343e364735d
    container_name: pocketid
    restart: unless-stopped
    ports:
      - "1411:1411"
    volumes:
      - "/mnt/user/appdata/pocketid/data:/app/data"
    networks:
      - proxy
    environment:
      APP_URL: https://auth.vanes.dev
      TRUST_PROXY: "true"
      PUID: "1000"
      PGID: "1000"
    healthcheck:
      test: ["CMD", "/app/pocket-id", "healthcheck"]
      interval: 90s
      timeout: 5s
      retries: 2
      start_period: 10s
    labels:
      glance.name: Nora ID
      glance.icon: si:auth0
      glance.url: https://auth.vanes.dev
      glance.description: ""
      glance.id: pocketid
      glance.hide: "false"

  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v4.0.1@sha256:815a53c517b4b8f29c02245fc89185186d12162f6bfc2e7566acf888c72ff14b
    container_name: tinyauth
    restart: unless-stopped
    environment:
      APP_URL: https://tinyauth.vanes.dev

      SECRET: ${tinyauth_auth_secret}

      PROVIDERS_POCKETID_CLIENT_ID: ${tinyauth_oidc_id}
      PROVIDERS_POCKETID_CLIENT_SECRET: ${tinyauth_oidc_secret}
      PROVIDERS_POCKETID_AUTH_URL: https://auth.vanes.dev/authorize
      PROVIDERS_POCKETID_TOKEN_URL: https://auth.vanes.dev/api/oidc/token
      PROVIDERS_POCKETID_USER_INFO_URL: https://auth.vanes.dev/api/oidc/userinfo
      PROVIDERS_POCKETID_SCOPES: openid,email,profile,groups
      PROVIDERS_POCKETID_NAME: "Nora ID"

      PROVIDERS_POCKETID_REDIRECT_URL: https://tinyauth.vanes.dev/api/oauth/callback/pocketid
      OAUTH_AUTO_REDIRECT: pocketid

      # logging
      LOG_LEVEL: info
    networks:
      - proxy
    labels:
      glance.name: Tinyauth
      glance.icon: si:authelia
      glance.url: https://tinyauth.vanes.dev
      glance.description: ""
      glance.id: tinyauth
      glance.hide: "false"

networks:
  proxy:
    external: true
    name: proxy_default
